<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/mainstyle.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/reset.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/imgtext.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap/bootstrap.min.css" />
    <title>Тестинг</title>


</head>
<body>
    <img id="headerimg" src="~/Content/images/headerimg2.jpg"/>
    Это макетная часть
   
        @RenderBody()
   
</body>
</html>
