@model IEnumerable<CategoryTable>
@{
    ViewBag.Title = "CategoriesView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CategoriesView</h2>
Здесь категории

@foreach (CategoryTable categorydata in Model)
{
    <div>
        <img src=@categorydata.CategoryPicture />
    </div>
}