@model IEnumerable<CategoryTable>
@{
    ViewBag.Title = "CategoriesView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CategoriesView</h2>

@foreach (CategoryTable categorydata in Model)
{
    <div class="thumbs">
        <a href=@Url.RouteUrl(new { controller="Home",action="Service",seasonName=categorydata.SeasonTable.SeasonUrlName, categoryName = categorydata.CategoryUrlName })><img class="seasonimage" src=@categorydata.CategoryPicture /></a>
        <div class="caption">
            <span class="title">@categorydata.CategoryNameRus </span>
            <span class="info">@categorydata.CategoryDescriptionRus</span>
        </div>
    </div>

}