@model IEnumerable<ServiceTable>
@{
    ViewBag.Title = "ServicesView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ServicesView</h2>
Здесь услуги

@foreach(ServiceTable serv in Model)
{
    <div class="servicediv">
        <img src=@serv.ServiceMainPicture />
    </div>
}